# **SQL Adatelemzés házi** **(a diagrammok csak a fájl letöltése után jelennek meg)**

## **Termék tábla leirás oszlopának adaprofilozása**

In [3]:
SELECT   
SUM(CASE WHEN LEIRAS IS NULL THEN 1 ELSE 0 END) AS 'null_ertek', 
SUM(CASE WHEN LEIRAS IS NOT NULL THEN 1 ELSE 0 END) AS 'nem_null'
FROM Termek

null_ertek,nem_null
527,24

In [2]:
SELECT 
SUM(CASE WHEN LEIRAS IS NULL THEN 1 ELSE 0 END) AS 'null_ertek', 
SUM(CASE WHEN LEIRAS IS NOT NULL THEN 1 ELSE 0 END) AS 'nem_null'
FROM Termek

null_ertek,nem_null
527,24

## **Listaár táblának elemzése**

### **Minimum, átlag, maximum összehasonlitása**

In [5]:
 SELECT 
MIN(LISTAAR) AS 'min_listaar', 
AVG(LISTAAR) AS 'avg_listaar', 
MAX(LISTAAR) AS 'max_listaar'  
FROM Termek

min_listaar,avg_listaar,max_listaar
0,"786,2813067150635",46000

In [6]:
 SELECT 
MIN(LISTAAR) AS 'min_listaar', 
AVG(LISTAAR) AS 'avg_listaar', 
MAX(LISTAAR) AS 'max_listaar'  
FROM Termek

min_listaar,avg_listaar,max_listaar
0,"786,2813067150635",46000

### **Ártartomány elemzése**

In [11]:
SELECT 
SUM(CASE WHEN LISTAAR BETWEEN 1 AND 1000 THEN 1 ELSE 0 END) AS '1 és 1000 közötti tartomány',  
SUM(CASE WHEN LISTAAR > 1000 THEN 1 ELSE 0 END) AS '1000 feletti tartomány' 
FROM Termek

0 és 1000 közötti tartomány,1000 feletti tartomány
510,40

In [12]:
SELECT 
SUM(CASE WHEN LISTAAR BETWEEN 1 AND 1000 THEN 1 ELSE 0 END) AS '1 és 1000 közötti tartomány',  
SUM(CASE WHEN LISTAAR > 1000 THEN 1 ELSE 0 END) AS '1000 feletti tartomány' 
FROM Termek

1 és 1000 közötti tartomány,1000 feletti tartomány
510,40

### **Leggyakoribb értékek elemzése**

In [18]:
SELECT TOP 5 
LISTAAR AS 'listaár',
COUNT(*) AS 'gyakoriság'
FROM Termek
WHERE LISTAAR IS NOT NULL
GROUP BY LISTAAR
ORDER BY COUNT(*) DESC

listaár,gyakoriság
30,16
44,16
89,15
15,14
103,12

In [15]:
SELECT TOP 5 
LISTAAR AS 'listaár',
COUNT(*) AS 'gyakoriság'
FROM Termek
WHERE LISTAAR IS NOT NULL
GROUP BY LISTAAR
ORDER BY COUNT(*) DESC

listaár,gyakoriság
30,16
44,16
89,15
15,14
103,12

### **Szórás és variancia**

In [25]:
SELECT 
ROUND(STDEV(LISTAAR), -3) AS 'Szórás', 
ROUND(VAR(LISTAAR), -3) AS 'Variancia' 
FROM Termek
WHERE LISTAAR IS NOT NULL

Szórás,Variancia
4000,12978000

In [26]:
SELECT 
ROUND(STDEV(LISTAAR), -3) AS 'Szórás', 
ROUND(VAR(LISTAAR), -3) AS 'Variancia' 
FROM Termek
WHERE LISTAAR IS NOT NULL

Szórás,Variancia
4000,12978000

## **Rendelés tábla lekérdezései**

### **Évenkénti rendelések**

In [28]:
SELECT 
YEAR(REND_DATUM) AS ev,
COUNT(*) AS 'rendelesek_szama'
FROM 
Rendeles
GROUP BY 
YEAR(REND_DATUM)
ORDER BY 
ev

ev,rendelesek_szama
2015,9747
2016,14773
2017,3565

In [29]:
SELECT 
YEAR(REND_DATUM) AS ev,
COUNT(*) AS 'rendelesek_szama'
FROM 
Rendeles
GROUP BY 
YEAR(REND_DATUM)
ORDER BY 
ev

ev,rendelesek_szama
2015,9747
2016,14773
2017,3565

### **2015,2016 összehasonlitása**

In [38]:
SELECT 
YEAR(REND_DATUM) AS ev,
COUNT(*) AS 'rendelesek_szama'
FROM 
Rendeles
WHERE 
YEAR(REND_DATUM) IN (2016, 2015)
GROUP BY 
YEAR(REND_DATUM)
ORDER BY 
ev

ev,rendelesek_szama
2015,9747
2016,14773

In [37]:
SELECT 
YEAR(REND_DATUM) AS ev,
COUNT(*) AS 'rendelesek_szama'
FROM 
Rendeles
WHERE 
YEAR(REND_DATUM) IN (2016, 2015)
GROUP BY 
YEAR(REND_DATUM)
ORDER BY 
ev

ev,rendelesek_szama
2015,9747
2016,14773

### **A 2015,2016,2017-es hónapok összesitett rendelése**

In [39]:
SELECT 
MONTH(REND_DATUM) AS honap,
COUNT(*) AS 'rendelesek_szama'
FROM 
Rendeles
GROUP BY 
MONTH(REND_DATUM)
ORDER BY 
rendelesek_szama DESC

honap,rendelesek_szama
8,2550
3,2516
10,2510
12,2487
7,2444
1,2430
5,2421
9,2399
11,2388
6,2369
2,2274
4,1297

In [40]:
SELECT 
MONTH(REND_DATUM) AS honap,
COUNT(*) AS 'rendelesek_szama'
FROM 
Rendeles
GROUP BY 
MONTH(REND_DATUM)
ORDER BY 
rendelesek_szama DESC

honap,rendelesek_szama
8,2550
3,2516
10,2510
12,2487
7,2444
1,2430
5,2421
9,2399
11,2388
6,2369
2,2274
4,1297

### **Összes login, illetve egyedi értékek száma**

In [42]:
SELECT 
COUNT([LOGIN]) AS 'osszes_ertek',
COUNT(DISTINCT [LOGIN]) AS 'egyedi_ertekek'
FROM 
Rendeles

osszes_ertek,egyedi_ertekek
28085,191

In [43]:
SELECT 
COUNT([LOGIN]) AS 'osszes_ertek',
COUNT(DISTINCT [LOGIN]) AS 'egyedi_ertekek'
FROM 
Rendeles

osszes_ertek,egyedi_ertekek
28085,191

### **5 leggyakoribb login**

In [46]:
SELECT TOP 5
LOGIN, 
COUNT(LOGIN) AS 'elofordulas'
FROM 
Rendeles
GROUP BY 
LOGIN
ORDER BY
elofordulas DESC

LOGIN,elofordulas
peter4,852
szabolcs,471
eva2,462
balint1,462
krisztina,456

In [47]:
SELECT TOP 5
LOGIN, 
COUNT(LOGIN) AS 'elofordulas'
FROM 
Rendeles
GROUP BY 
LOGIN
ORDER BY
elofordulas DESC

LOGIN,elofordulas
peter4,852
szabolcs,471
eva2,462
balint1,462
krisztina,456

**2 leggyakoribb szall\_mod**

In [49]:
SELECT TOP 2 
SZALL_MOD, 
COUNT(*) AS 'Gyakoriság'
FROM Rendeles
WHERE SZALL_MOD IS NOT NULL
GROUP BY SZALL_MOD
ORDER BY COUNT(*) DESC

SZALL_MOD,frequency
Személyes átvétel,9468
GLS,9426

In [50]:
SELECT TOP 2 
SZALL_MOD, 
COUNT(*) AS 'Gyakoriság'
FROM Rendeles
WHERE SZALL_MOD IS NOT NULL
GROUP BY SZALL_MOD
ORDER BY COUNT(*) DESC

SZALL_MOD,Gyakoriság
Személyes átvétel,9468
GLS,9426

### **Szállitási módok közötti megoszlás %-ban**

In [54]:
SELECT 
SZALL_MOD, 
COUNT(*) * 100.0 / (SELECT COUNT(*) FROM RENDELES) AS 'megoszlás'
FROM 
Rendeles
GROUP BY 
SZALL_MOD
ORDER BY 
megoszlás DESC

SZALL_MOD,megoszlás
Személyes átvétel,33.711945878582
GLS,33.562399857575
Posta,32.725654263841

In [55]:
SELECT 
SZALL_MOD, 
COUNT(*) * 100.0 / (SELECT COUNT(*) FROM RENDELES) AS 'megoszlás'
FROM 
Rendeles
GROUP BY 
SZALL_MOD
ORDER BY 
megoszlás DESC

SZALL_MOD,megoszlás
Személyes átvétel,33.711945878582
GLS,33.562399857575
Posta,32.725654263841